.classpath
tmp/
.project
src/steamaudio
src/tests/resources/inputaudio.raw
bin/
build/
.vscode/
.settings
.gradle/
src/test/resources/inputaudio.raw
*.so
*.ddl
.Trash/
*.log
src/test/resources
deploy/